In [25]:
import numpy as np
import pandas as pd
import xerox

In [26]:
char = [
    "Vishnal",
    "Clorica",
    "Volkanon",
    "Forte",
    "Kiel",
    "Bado",
    "Margaret",
    "Dylas",
    "Arthur",
    "Porcoline",
    "Xiao Pai",
    "Lin Fa",
    "Amber",
    "Illuminata",
    "Doug",
    "Blossom",
    "Dolce",
    "Jones",
    "Nancy",
    "Leon",
    "Ventuswill",
    "Son",
    "Daughter",
    "Barrett",
    "Raven",
]

In [112]:
temp_df = pd.read_excel('./newdata.xlsx', sheet_name="gift")

In [149]:
query_item  = "Toyherb"

In [150]:
df = temp_df.copy()
df.head()

      name     taste           item  fp
0  Vishnal  Dislikes  Turnip Heaven -10
1  Vishnal  Dislikes            Can   0
2  Vishnal  Dislikes       Rare Can   0
3  Vishnal  Dislikes           Boot   0
4  Vishnal  Dislikes    Scrap Metal   0

In [151]:
df = df.loc[df['item'] == query_item]

In [152]:
df  = df.drop_duplicates(subset='name',keep='last')

In [153]:
dislike2 = df[(df['taste'] == 'Dislikes') & (df['fp'] == -10)]

In [154]:
dislike = df[(df['taste'] == 'Dislikes') & (df['fp'] == -5)]

In [155]:
like2 = df[(df['taste'] == 'Likes') & (df['fp'] == 6)]

In [156]:
like = df[(df['taste'] == 'Likes') & (df['fp'] == 9)]

In [157]:
love2 = df[(df['taste'] == 'Loves') & (df['fp'] == 9)]

In [158]:
love = df[(df['taste'] == 'Loves') & (df['fp'] == 15)]

In [159]:
neutral = char.copy()

In [160]:
body = ""

In [161]:
gift_list = [
    "love", "love2", "like", "like2", "dislike", "dislike2"
]

In [162]:
for el in gift_list:
    df_list = globals()[el]
    if len(df_list) > 0 :
        body += f"\n |{el}="
        body += df_list['name'].str.cat(sep=",")
        df_list.apply(lambda x:  neutral.remove(x['name']) if x['name'] in neutral else None , axis=1)

In [163]:
if len(neutral) > 0 :
    body += "\n |neutral="
    body += ",".join(neutral)

In [164]:
gift_string = '{{{{RF4Gift{}\n}}}}'.format(body)
gift_string = gift_string.replace("Son","Noel")
gift_string = gift_string.replace("Daughter","Luna")

In [165]:
gift_string

'{{RF4Gift\n |like=Amber,Raven\n |neutral=Vishnal,Clorica,Volkanon,Forte,Kiel,Bado,Margaret,Dylas,Arthur,Porcoline,Xiao Pai,Lin Fa,Illuminata,Doug,Blossom,Dolce,Jones,Nancy,Leon,Ventuswill,Noel,Luna,Barrett\n}}'

In [166]:
xerox.copy(gift_string)