In [47]:
import numpy as np
import pandas as pd
import xerox

In [48]:
char = [
    "Vishnal",
    "Clorica",
    "Volkanon",
    "Forte",
    "Kiel",
    "Bado",
    "Margaret",
    "Dylas",
    "Arthur",
    "Porcoline",
    "Xiao Pai",
    "Lin Fa",
    "Amber",
    "Illuminata",
    "Doug",
    "Blossom",
    "Dolce",
    "Jones",
    "Nancy",
    "Leon",
    "Ventuswill",
    "Son",
    "Daughter",
    "Barrett",
    "Raven",
]

In [49]:
temp_df = pd.read_excel('../xlsx/newdata.xlsx', sheet_name="gift")

# Query

In [70]:
query_item  = "dumpling"

In [71]:
df = temp_df.copy()
df.head()

      name     taste           item   fp
0  Vishnal  Dislikes  Turnip Heaven  -10
1  Vishnal  Dislikes            Can   -5
2  Vishnal  Dislikes       Rare Can   -5
3  Vishnal  Dislikes           Boot   -5
4  Vishnal  Dislikes    Scrap Metal   -5

In [72]:
df['item'] = df['item'].str.lower()
query_item = query_item.lower()

In [73]:
df = df.loc[df['item'] == query_item]

In [74]:
df  = df.drop_duplicates(subset='name',keep='last')

In [75]:
dislike2 = df[(df['taste'] == 'Dislikes') & (df['fp'] == -10)]

In [76]:
dislike = df[(df['taste'] == 'Dislikes') & (df['fp'] == -5)]

In [77]:
like2 = df[(df['taste'] == 'Likes') & (df['fp'] == 6)]

In [78]:
like = df[(df['taste'] == 'Likes') & (df['fp'] == 9)]

In [79]:
like3 = df[(df['taste'] == 'Likes') & (df['fp'] == 15)]

In [80]:
love2 = df[(df['taste'] == 'Loves') & (df['fp'] == 9)]

In [81]:
love = df[(df['taste'] == 'Loves') & (df['fp'] == 15)]

In [82]:
neutral = char.copy()

In [83]:
body = ""

In [84]:
gift_list = [
    "love", "love2", "like3", "like", "like2", "dislike", "dislike2"
]

In [85]:
for el in gift_list:
    df_list = globals()[el]
    if len(df_list) > 0 :
        body += f"\n |{el}="
        body += df_list['name'].str.cat(sep=",")
        df_list.apply(lambda x:  neutral.remove(x['name']) if x['name'] in neutral else None , axis=1)

In [86]:
if len(neutral) > 0 :
    body += "\n |neutral="
    body += ",".join(neutral)

In [87]:
gift_string = '{{{{RF4Gift{}\n}}}}'.format(body)
gift_string = gift_string.replace("Son","Noel")
gift_string = gift_string.replace("Daughter","Luna")

In [88]:
gift_string

'{{RF4Gift\n |neutral=Vishnal,Clorica,Volkanon,Forte,Kiel,Bado,Margaret,Dylas,Arthur,Porcoline,Xiao Pai,Lin Fa,Amber,Illuminata,Doug,Blossom,Dolce,Jones,Nancy,Leon,Ventuswill,Noel,Luna,Barrett,Raven\n}}'

In [89]:
xerox.copy(gift_string)