In [1]:
import numpy as np
import pandas as pd
import xerox

In [2]:
char = [
    "Vishnal",
    "Clorica",
    "Volkanon",
    "Forte",
    "Kiel",
    "Bado",
    "Margaret",
    "Dylas",
    "Arthur",
    "Porcoline",
    "Xiao Pai",
    "Lin Fa",
    "Amber",
    "Illuminata",
    "Doug",
    "Blossom",
    "Dolce",
    "Jones",
    "Nancy",
    "Leon",
    "Ventuswill",
    "Son",
    "Daughter",
    "Barrett",
    "Raven",
]

In [3]:
temp_df = pd.read_excel('./newdata.xlsx', sheet_name="gift")

# Query

In [106]:
query_item  = "tyrant turnip"

In [107]:
df = temp_df.copy()
df.head()

      name     taste           item  fp
0  Vishnal  Dislikes  Turnip Heaven -10
1  Vishnal  Dislikes            Can   0
2  Vishnal  Dislikes       Rare Can   0
3  Vishnal  Dislikes           Boot   0
4  Vishnal  Dislikes    Scrap Metal   0

In [108]:
df['item'] = df['item'].str.lower()
query_item = query_item.lower()

In [109]:
df = df.loc[df['item'] == query_item]

In [110]:
df  = df.drop_duplicates(subset='name',keep='last')

In [111]:
dislike2 = df[(df['taste'] == 'Dislikes') & (df['fp'] == -10)]

In [112]:
dislike = df[(df['taste'] == 'Dislikes') & (df['fp'] == -5)]

In [113]:
like2 = df[(df['taste'] == 'Likes') & (df['fp'] == 6)]

In [114]:
like = df[(df['taste'] == 'Likes') & (df['fp'] == 9)]

In [115]:
love2 = df[(df['taste'] == 'Loves') & (df['fp'] == 9)]

In [116]:
love = df[(df['taste'] == 'Loves') & (df['fp'] == 15)]

In [117]:
neutral = char.copy()

In [118]:
body = ""

In [119]:
gift_list = [
    "love", "love2", "like", "like2", "dislike", "dislike2"
]

In [120]:
for el in gift_list:
    df_list = globals()[el]
    if len(df_list) > 0 :
        body += f"\n |{el}="
        body += df_list['name'].str.cat(sep=",")
        df_list.apply(lambda x:  neutral.remove(x['name']) if x['name'] in neutral else None , axis=1)

In [121]:
if len(neutral) > 0 :
    body += "\n |neutral="
    body += ",".join(neutral)

In [122]:
gift_string = '{{{{RF4Gift{}\n}}}}'.format(body)
gift_string = gift_string.replace("Son","Noel")
gift_string = gift_string.replace("Daughter","Luna")

In [123]:
gift_string

'{{RF4Gift\n |love=Porcoline\n |like=Arthur,Blossom,Ventuswill\n |like2=Margaret\n |dislike=Vishnal,Dolce\n |neutral=Clorica,Volkanon,Forte,Kiel,Bado,Dylas,Xiao Pai,Lin Fa,Amber,Illuminata,Doug,Jones,Nancy,Leon,Noel,Luna,Barrett,Raven\n}}'

In [124]:
xerox.copy(gift_string)